<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href = "/static/app/style.css" rel = "stylesheet">
</head>
<body>
	<div class="page-header">
		<h2><a href="./dashboard.html" style="color: #000000; text-decoration: none;">CookUp</a></h2>
		<a class="topcorner" id="header1-like" href="./profile.html">My Profile</a>
  <center><h2><a class="topmiddle" id="add_recipe" href="./submitrecipe.html" style="color: #000000; test-decoration: none;">Add Recipe</a></h2></center>
  <center>
    <h1 id="find-recipe" class="text-center">Find Recipes</h1>
    <form method="get" action="/search/">
      <h3 style="color: #000000;">Search Recipes:</h3><input type="text" name="q" id="id_q" value="{{ query }}"/>
      <input type="submit" value="Search" />
    </form>
  </center>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div id="imaginary_container">
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control"  placeholder="Enter ingredients separated by whitespace or commas" >
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
