<!-- alt + shift + f -->
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href = "/static/app/style.css" rel = "stylesheet">
</head>
<body>
	<div class="page-header text-center">
		<h1>CookUp</h1> 
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-lock"></span> Login
					</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-3 control-label">
								Email</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="inputEmail3" placeholder="janedoe@abc.com" required>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-3 control-label">
								Password</label>
								<div class="col-sm-9">
									<input type="password" class="form-control" id="inputPassword3" placeholder="Password" required>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<div class="checkbox">
										<label>
											<input type="checkbox"/>
											Remember me
										</label>
									</div>
								</div>
							</div>
							<div class="form-group last">
								<div class="col-sm-offset-3 col-sm-9">
									<a href="./dashboard.html" class="btn btn-success btn-sm">
									Sign in</a>
									<button type="reset" class="btn btn-default btn-sm">
										Reset
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-footer">
						Not Registred? <a href="./register.html">Register here</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src = "https://code.jquery.com/jquery.js"></script>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
