<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href = "/static/app/style.css" rel = "stylesheet">
</head>
<body>
	<div class="page-header">
		<h2 class="cookup"><a href="/dashboard.html" style="color: #000000; text-decoration: none;">CookUp</a></h2>
  <a class="topcorner" id="header1-like" href="{% url 'logout' %}">Logout</a>
	</div>
   <center><h1>Profile</h1></center>
   <h2 class="profile_elements"> Username: {{request.user.username}} </h2>
   <h2 class="profile_elements"> First Name: {{request.user.first_name}} </h2>
   <h2 class="profile_elements"> Last Name: {{request.user.last_name}} </h2>
   <h2 class="profile_elements"> Email: {{request.user.email}} </h2>
   <h2 class="profile_elements"> Average Recipe Rating: {{ rating }}</h2>
   <h2 class="profile_elements"> My Recipes: </h2>
   {% for result in recipes %}
    <center><table style="background: #ffffff;" name="q" border="1">
      <tr>
        <td>
          <b>Recipe Name: </b>
        </td>
        <td>{{ result.0.1 }}</td>
      </tr>
      <tr>
        <td>
          <b>Suggested Appliances: </b>
        </td>
        <td>{{ result.0.2 }}</td>
      </tr>
      <tr>
        <td>
          <b>Description: </b>
        </td>
        <td>{{ result.0.3 }}</td>
      </tr>
      <tr>
        <td>
          <b>Video URL: </b>
        </td>
        <td>
          {% if result.0.4 != "None" %}
            <a href="{{ result.0.4 }}">{{ result.0.4 }}</a>
          {% else %}
            {{ result.0.4 }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <b>Times Rated: </b>
        </td>
        <td>{{ result.0.5 }}</td>
      </tr>
      <tr>
        <td>
          <b>Ingredients: </b>
        </td>
        <td>
          {% for ingredient in result.1 %}
            {% for item in ingredient %}
              {{item}}
            {% endfor %}
          ,
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
          <b>Instructions: </b>
        </td>
        <td>{{ result.0.6 }}</td>
      </tr>
      <tr>
        <td>
          <b>Rating: </b>
        </td>
        <td>{{ result.0.7 }}</td>
      </tr>
      <tr>
        <td>
          <b>Cook Time: </b>
        </td>
        <td>{{ result.0.8 }}</td>
      </tr>
      <tr>
        <td>
          <b>Servings: </b>
        </td>
        <td>{{ result.0.9 }}</td>
      </tr>
      <tr>
        <td>
          <b>Calories: </b>
        </td>
        <td>{{ result.0.10 }}</td>
      </tr>
    </table></center>
    <br>

  {% endfor %}
</body>
</html>
