<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href = "/static/app/style.css" rel = "stylesheet">
</head>
<body>
	<div class="page-header">
		<h2>CookUp</h2> 
	</div>
</body>
</html>