div {
	border: 0 !important;
}

body {
	background-image: url("test.jpg");
	background-size:     cover;                      /* <------ */
	background-repeat:   no-repeat;
	background-position: center center;  
}

h1 {
	font-family: 'Indie Flower'
	font-size: 60px;
	color: black;
}

.container {
/*	opacity: 1;
*/
}