div {
	border: 0 !important;
}

body {
	background-image: url("background.jpg");
	background-size:     cover;                      /* <------ */
	background-repeat:   no-repeat;
	background-position: center center;  
}

h1 {
	font-family: 'Chicle', cursive;
	font-size: 100px;
	color: black;
}

.container {
/*	opacity: 1;
*/
}